{% block tiletype_widget %}
    <style scoped="scoped">
        .tile-type-selector label{
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 0;
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(255,255,255,.1);
        }

        .tile-type-selector label:hover{
            box-shadow: 0 0 0 1px white;
        }

        .tile-type-selector .square{
            width: 75px;
            font-size: 0;
            line-height: 0;
            background: #333333;
            border-radius: 25px;
            display: inline-block;
            position: relative;
        }

        .tile-type-selector .square.little{
            width: 50px;
            border-radius: 0;
            margin-left: 10px;
        }

        .tile-type-selector .iradio_minimal{
            display: none;
        }

        .tile-type-selector .iradio_minimal.checked + label{
            box-shadow: 0 0 0 1px white;
            background: rgba(255,255,255,.5);
        }

        .tile-type-selector .center{
            background: white;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            position: absolute;
            left: 17px;
            top: 17px;
        }
    </style>
    <div class="tile-type-selector">
        <div class="square">
            {% for i in 0..8 %}
                <input id="{{ i }}" type="radio" name="{{ form.vars.full_name }}" value="{{ i }}" {% if form.vars.value == i %}checked{% endif %}>
                <label for="{{ i }}"></label>
            {% endfor %}
        </div>
        <div class="square little">
            {% for i in 9..12 %}
                <input id="{{ i }}" type="radio" name="{{ form.vars.full_name }}" value="{{ i }}">
                <label for="{{ i }}"></label>
            {% endfor %}
            <div class="center"></div>
        </div>
    </div>
{% endblock %}

{% block tileselector_widget %}
    {% set tile = form.vars.sonata_admin.admin.subject %}
    {% set val = tile.coordX~'-'~tile.coordY %}
    <style scoped="scoped">
        .tile-selector{
            background: url('{{ asset('spritesheet/tiles.png') }}');
            width: 256px;
            height: 256px;
            font-size: 0;
            line-height: 0;
        }

        .tile-selector label{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0;
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(255,255,255,.1);
        }

        .tile-selector label:hover{
            box-shadow: 0 0 0 1px white;
        }

        .tile-selector .iradio_minimal{
            display: none;
        }

        .tile-selector .iradio_minimal.checked + label{
            box-shadow: 0 0 0 1px white;
            background: rgba(255,255,255,.5);
        }
    </style>
    <div class="tile-selector">
        {% for j in 0..15 %}
            {% for i in 0..15 %}
                <input id="{{ i~'-'~j }}" type="radio" name="{{ form.vars.full_name }}" value="{{ i~'-'~j }}" {% if val == i~'-'~j %}checked{% endif %}>
                <label for="{{ i~'-'~j }}"></label>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block buildingselector_widget %}
    {% set tile = form.vars.sonata_admin.admin.subject %}
    {% set val = tile.coordX~'-'~tile.coordY %}
    <style scoped="scoped">
        .tile-selector{
            background: url('{{ asset('spritesheet/buildings.png') }}') #1e1e1e;
            width: 256px;
            height: 256px;
            font-size: 0;
            line-height: 0;
        }

        .tile-selector label{
            display: inline-block;
            width: 16px;
            height: 32px;
            margin: 0;
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(255,255,255,.1);
        }

        .tile-selector label:hover{
            box-shadow: 0 0 0 1px white;
        }

        .tile-selector .iradio_minimal{
            display: none;
        }

        .tile-selector .iradio_minimal.checked + label{
            box-shadow: 0 0 0 1px white;
            background: rgba(255,255,255,.5);
        }
    </style>
    <div class="tile-selector">
        {% for j in 0..7 %}
            {% for i in 0..15 %}
                <input id="{{ i~'-'~j }}" type="radio" name="{{ form.vars.full_name }}" value="{{ i~'-'~j }}" {% if val == i~'-'~j %}checked{% endif %}>
                <label for="{{ i~'-'~j }}"></label>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}