{% extends '::base.html.twig' %}

{% block body %}
    <h1>Parties en cours</h1>
    <table class="table">
        <tr>
            <th>Adversaire</th>
            <th>Niveau</th>
            <th></th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.opponent }}</td>
                {% if game.level is null %}
                    <td>Niveau a choisir</td>
                {% else %}
                    <td>{{ game.level.name }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('esiee_game_play', {id:game.id}) }}" class="btn btn-info">
                        <i class="fa fa-mail-reply"></i>
                        Reprendre
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h1>Choisissez un adverssaire</h1>
    <table class="table">
        <tr>
            <th>Pseudo</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user }}</td>
                <td>
                    <a href="{{ path('esiee_game_new', {id:user.id}) }}" class="btn btn-success">
                        <i class="fa fa-gamepad"></i>
                        Jouer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}