{% extends '::base.html.twig' %}

{% block body %}
    <h1>Jouer</h1>
    <div id="game-container"
         data-send-str="{{ path('esiee_game_send_str', {id:game.id}) }}"
         data-receive-str="{{ path('esiee_game_receive_str', {id:game.id}) }}"
         data-is-master="{{ game.creator.id == app.user.id }}"
            >
        <div class="game-renderer">
            <div class="playground">
                <canvas data-layer="buffer2"></canvas>
                <canvas data-layer="buffer"></canvas>
                <canvas data-layer="background"></canvas>
                <canvas data-layer="buildings"></canvas>
                <canvas data-layer="units"></canvas>
                <canvas data-layer="ui"></canvas>
            </div>
        </div>
        <button class="btn btn-primary" id="cycle-turn" style="margin-top: 10px">
            Finir le tour
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var level = {
            mapSize: "{{ level.size }}",
            tiles: {{ level.tiles }},
            buildings: {{ level.buildings }},
            units: {{ level.units|raw }}
        }
    </script>
    <script type="text/javascript" src="{{ asset('js/tinycolor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/gameRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('game/js/class/Unit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('game/js/class/Game.js') }}"></script>
    <script type="text/javascript" src="{{ asset('game/js/demo.js') }}"></script>
{% endblock %}